html {
	background-color: #181818;
	font-size: 10px;
	font-family: "Roboto", sans-serif;
	background-image: url(../data/site-background.jpg);
}

body {
/*	width: 1000px;
	margin: 20px auto;
	background-color: #282828;
	padding: 5px 20px 20px 20px;
	border: 5px;*/
}

.body {
	width: 1000px;
	margin: 20px auto;
	background-color: #282828;
	padding: 5px 20px 20px 20px;
	border: 5px;
}

.navBar {
	width: 400px;
	margin: 0px auto;
	background-color: #282828;
	padding: 0px 15px 5px 15px;
	border: 5px;
}

h1, h2 {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	color: #F1F2EE;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 20px;
	page-break-before: always;
}

a:link {
	color: #5863F8;
}

a:visited {
	color: #5B2BE8;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
	color: #F1F2EE;
}

img {
	display: block;
	margin: 0 auto;
}
